<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Open Graph tags for social media sharing -->
    <meta property="og:title" content="Tamara Amoroso Gonsalves, Human Rights Expert">
    <meta property="og:description"
        content="Human rights expert with 20+ years’ experience specializing in women’s rights, gender justice, and policy advocacy. Fluent in 4 languages, driving impactful change on gender-based violence, reproductive rights, and consumer law across global and local contexts.">
    <meta property="og:image" content="https://www.tamaragonsalves.com{{ images }}og_image.jpg">
    <meta property="og:url" content="https://www.tamaragonsalves.com">
    <meta property="og:type" content="website">

    <title>{{ title | safe }}</title>
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="/tailwind.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/vendor/fontawesome/css/regular.min.css">
    <script>document.documentElement.classList.add('js')</script>
</head>

<body class="bg-mustard-50">
    {% include "nav.njk" %}

    <main class="mx-auto">
        {{ content | safe }}
    </main>

    <footer class="bg-gray-800 text-gray-500 text-center pt-16 pb-10">
        &copy; {% year %}, Tamara Amoroso Gonsalves, All Rights Reserved.
    </footer>

    <script src="/taos.js"></script>
    <script src="{{ js }}/accordion.js"></script>
    <script src="{{ js }}/send_email.js"></script>
    <script src="{{ vendor }}/fslightbox/fslightbox.js" type="text/javascript"></script>
</body>

</html>