{# Nav Container #}
<header id="top_nav" class="top-nav fixed w-full top-0 z-10 top-nav-bg max-md:drop-shadow-lg top-nav-bg">
    <div class="flex flex-col space-y-3 md:justify-between items-start w-full pt-2.5 md:h-20">
        {# Extra div to get the underline #}


        <div class="flex items-center justify-between lowercase" aria-label="Global">
            {# Group 2 (mobile nav toggle) #}
            <div class="flex md:hidden">
                <button id="menu_toggle" type="button"
                    class="inline-flex items-center justify-center ml-5 mb-2.5 py-2.5 rounded-md">
                    <span class="sr-only">Open main menu</span>
                    <svg id="menu_icon" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                </button>
            </div>
        </div>

        {# Group 1 (menu items) #}
        <nav id="menu"
            class="hidden md:flex flex-col md:flex-row md:flex-1 md:justify-between max-md:space-y-3 w-full px-5 md:px-10 max-md:pb-5">
            <a href="/#about-me">About</a>
            <a href="/#background">Background</a>
            <a href="/#speaking">Public Speaking</a>
            <a href="/#services">What I Offer</a>
            <a href="/#contact-me">Contact</a>
        </nav>

    </div>
    </div>
</header>