{# Nav Container #}
<header class="top-nav absolute w-full top-0 z-10">
    <div class="w-full h-20 ease-in-out">
        {# Extra div to get the underline #}
        <div class="h-full px-5 flex md:justify-between items-center">

            {# Group 1 (menu items) #}
            <nav id="menu"
                class="box-content font-bold text-center md:text-left text-lg w-full md:w-auto hidden md:flex flex-col md:flex-row space-y-4 md:space-y-0 md:flex-1 md:justify-center md:gap-x-8 lg:gap-x-12">
                <a href="/#about-me" class="{{ " current" if section=="about-me" }}">About</a>
                <a href="/#background" class="{{ " current" if section=="degrees" }}">Background</a>
                <a href="/#speaking" class="{{ " current" if section=="speaking" }}">Public Speaking</a>
                <a href="/#speaking" class="{{ " current" if section=="services" }}">What I Offer</a>
                <a href="/#contact-me" class="">Contact</a>
            </nav>

            <div class="flex items-center justify-between lowercase" aria-label="Global">
                {# Group 2 (mobile nav toggle) #}
                <div class="flex md:hidden">
                    <button id="menu-toggle" type="button"
                        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5">
                        <span class="sr-only">Open main menu</span>
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                    </button>
                </div>
            </div>

        </div>
    </div>
</header>