---
title: Tamara Amoroso Gonsalves, Human Rights Experts
layout: "base.njk"
---
<section id="home" class="hero flex items-center pt-20 w-full h-80vh min-h-[40rem] bg-amber-50">
    <div class="w-full contain-wide section-margins-medium text-center">
        <h3 class="text-pink-700">Human Rights Expert</h3>
        <h1 class="text-pink-700">Tamara Amoroso<br> Gonsalves</h1>
        <p class="w-4/6 mx-auto">For twenty years, I've dedicated my career to human rights law and advocacy,
            specializing in
            women's rights
            and gender justice. My work bridges academic research with practical impact, demonstrated through extensive
            publications and leadership roles across governmental and non-governmental sectors.</p>
    </div>
</section>

<section id="about-me" class="w-full contain-margins-y ">

    <div
        class="contain-narrow md:contain-medium section-margins-narrow md:section-margins-medium grid sm:grid-cols-2 xl:grid-cols-[2fr_1fr] gap-8 lg:gap-12 items-start">
        <div class="w-full mx-auto -mt-40 grid grid-cols-1 md:grid-cols-2 gap-4">
            <img src="{{ images }}/foto_01.jpg" alt="" class="rounded-md drop-shadow-md col-span-2">
            <img src="{{ images }}/foto_02.jpg" alt="" class="rounded-md drop-shadow-md col-span-2">
            <img src="{{ images }}/foto_03.jpg" alt="" class="rounded-md drop-shadow-md row-span-2">
            <img src="{{ images }}/foto_04.jpg" alt="" class="rounded-md drop-shadow-md">
            <img src="{{ images }}/foto_05.jpg" alt="" class="rounded-md drop-shadow-md">
            <img src="{{ images }}/foto_06.jpg" alt="" class="rounded-md drop-shadow-md">
        </div>
        <div class="ml-auto w-5/6">
            <h2>About Me</h2>
            <p>My educational background in law, with a focus on human rights, and my experience in non-governmental,
                governmental, and academic roles have enabled me to excel in advocacy and stakeholder negotiation. As a
                spokesperson for various organizations, I have effectively engaged with diverse audiences, ranging from
                experts in international human rights bodies to grassroots communities, academics, and public servants.
                I have delivered talks and represented institutions on more than 90 occasions, both locally, regionally,
                and internationally, on topics spanning children's rights, women's rights (particularly gender-based
                violence and sexual and reproductive rights), and consumer rights.</p>
        </div>
    </div>
</section>

<section id="background" class="bg-white contain-margins-y">
    <div class="contain-medium section-margins-medium smaller lg:grid md:grid-cols-2 lg:gap-x-8">
        <div>
            <h1>Academic & Professional<wbr> Background</h1>
            <p class="mb-16"><a href="/assets/files/Tamara_Amoroso_Gonsalves_CV_11.12.2024_pub_last.pdf"
                    class="">Download Complete CV (PDF)</a></p>
        </div>

        <div>
            <p>I hold a bachelor's degree in Law, a master's in Human Rights, a PhD in Law and Society, and a Graduate
                Certificate in Teaching and Learning in Higher Education. I bring extensive experience in human rights
                at
                national, regional, and international levels, with skills in policy analysis, advocacy on human rights
                issues, and delivering lectures on complex topics to diverse audiences, from policymakers and academics
                to
                grassroots organizations, ensuring complex issues are communicated effectively to drive impactful
                outcomes.
                Having lived and worked in various countries and languages, I am highly attuned to and respectful of
                socio-cultural diversities.
            </p>
            <p>My career spans academia, non-profits, and government, including serving in Brazil's Ministry of Justice.
                Over the past 20 years, I have worked in Brazilian, Latin American, and Canadian contexts as a lawyer,
                gender and human rights expert, lecturer, public servant, and policy analyst. My expertise covers
                gender-based violence, sexual and reproductive rights, health law, ultra-processed food advertising
                regulation, consumer law, children's rights, and international human rights law. For further details on
                my
                academic and professional background, please refer to my CV.</p>
        </div>
    </div>
</section>

<section id="articles" class="contain-margins-y bg-soap-50 ">
    <div class="contain-wide section-margins-medium">
        <h1 class="mb-16">Books and publications</h1>
        <div class="lg:max-w-screen-md mx-auto">
            <h2>Publications</h2>

            <p>I am dedicated to producing high-quality, community-engaged research and scholarship that addresses
                pressing social issues. Over the past 20 years, I have developed interdisciplinary, transsystemic, and
                socio-legal research, resulting in 2 published books, 40 book chapters, 11 journal articles, 10 research
                and advocacy reports, and 36 opinion pieces. My publications span a broad range of topics, including
                children's fundamental rights, women's human rights—particularly gender-based violence and sexual and
                reproductive rights—and consumer rights, with a specific focus on product recalls, advertising
                regulations, and the regulation of ultra-processed foods.</p>

            <ul class="bullet">
                <li><a href="">Download CV (PDF) for full list of publications</a></li>
                <li><a href="https://orcid.org/0000-0002-2500-8477" target="_blank">My ORCID registry</a></li>
            </ul>

            <h2>Books</h2>
            <div class="book-grid">
                <article class="book-item">
                    <a href="" class="hover-shift-sm"><img src="{{ images }}/livro_direitos_humanos_mulheres.jpg" alt=""
                            srcset="" class="book-image"></a>

                    <div class="book-info">
                        <div>
                            <h5 class="mb-0">Direitos humanos das mulheres e a comissão Interamericana de direitos
                                humanos
                            </h5>
                            <p><em>Tamara Amoroso Gonçalves</em></p>
                        </div>
                        <p>My book Direitos Humanos das Mulheres e a Comissão Interamericana de Direitos Humanos,
                            (Saraiva,
                            2013) analyzes quantitative and qualitative data related to cases of women’s human rights
                            violations presented to the Inter-American Commission of Human Rights, identifying the
                            regional
                            agenda that feminist organizations have pushed through gender-sensitive strategic
                            litigation.
                            This work combined statistical analysis and case analysis, in pioneering jurimetrics work
                            done
                            in Brazil.</p>
                        <p><a href="">Buy This Book</a></p>
                    </div>
                </article>
                <article class="book-item">
                    <a href="" class="hover-shift-sm"><img src="{{ images }}/livro_aborto_e_religiao.png" alt=""
                            srcset="" class="book-image"></a>
                    <div class="book-info">
                        <div>
                            <h5 class="mb-0">Aborto e Religião nos Tribunais Brasileiros</h5>
                            <p><em>Tamara Amoroso Gonçalves (coord.), Thais de Souza Lapa</em></p>
                        </div>
                        <p>In this MacArthur-Foundation-funded book, Aborto e Religião nos Tribunais Brasileiros (2008),
                            I
                            discuss the influence of religious arguments in abortion cases decided by Brazilian
                            courts—in a
                            country where abortion is illegal and is the 5th cause of maternal death. This research was
                            grounded on feminist scholarship, sociological analysis of Catholic religion, and
                            statistical
                            data on court decisions. This was a pioneering work combining socio-legal feminist research
                            and
                            jurimetrics, when the latter was rarely used in Brazil. Available in Portuguese only. </p>
                        <p><a href="/assets/files/Aborto_religiao_nos_tribunais_brasileiros.pdf">Download Full Text
                                (PDF)</a>
                        </p>
                    </div>
                </article>
            </div>
        </div>

        <div class="lg:max-w-screen-md mx-auto">
            <h2>Other Projects</h2>

            <article class="book-item">
                <a href="" class="hover-shift-sm"><img src="{{ images }}/podcast_gender_305.jpg" alt="" srcset=""
                        class="book-image"></a>
                <div class="book-info">
                    <div>
                        <h5 class="mb-0">Gender 305 Podcast</h5>
                        <p><em>Podcast series on Gender and Human Rights. </em></p>
                    </div>
                    <p>At UVIC's Gender Studies Department, I taught Gender and International Human Rights in fall 2022
                        and 2023, where students created podcast episodes as their final assignments with CFUV's
                        technical support. These episodes, now being published and aired through CFUV, explore diverse
                        topics including abortion rights, LGBTQ2+ and non-binary rights, gender-based discrimination in
                        AI, and violence against Indigenous women in Canada. We invite you to listen and engage in these
                        important conversations.</p>
                    <p><a href="https://open.spotify.com/show/0wXLKKJbgFwjnHdevQYnYW?si=400a91e1597a4f40"
                            target="_blank">Listen and Subscribe (Spotify)</a>
                    </p>
                </div>
            </article>
        </div>
</section>

<section id="speaking" class="contain-margins-y">
    <div class="contain-medium section-margins-medium">
        <h1>Public Speaking</h1>
        <div class="lg:max-w-screen-md mx-auto">
            <p class="mb-12">My educational background in law, with a focus on human rights, and my experience in
                non-governmental, governmental, and academic roles have enabled me to excel in advocacy and stakeholder
                negotiation. As a spokesperson for various organizations, I have effectively engaged with diverse
                audiences, ranging from experts in international human rights bodies to grassroots communities,
                academics, and public servants. I have delivered talks and represented institutions on more than 90
                occasions, both locally, regionally, and internationally, on topics spanning children's rights, women's
                rights (particularly gender-based violence and sexual and reproductive rights), and consumer rights.</p>
        </div>

        <div class="video-grid">

            <!-- Video 1 -->
            <div class="video-card">
                <a href="https://webtv.un.org/en/asset/k1a/k1adxsy879" target="_blank"
                    aria-label="Watch video: Video Title 1">
                    <div class="video-thumbnail-container">
                        <img src="{{ images }}/videos/2024_cedaw_1.jpg" alt="Video thumbnail for Video Title 1"
                            class="w-full">
                    </div>
                </a>
                <time datetime="2024-05-20" class="video-date">May 20, 2024</time>
                <h5 class="video-title">CLADEM/Brazil representation at Brazil's review before the CEDAW Committee</h5>
                <p class="video-description">Speech delivered at the Opening Session with Brazilian Non-profit
                    associations, addressing various forms of institutional violence such as obstetric violence,
                    parental alienation in family court, inaccessible abortion services for sexual violence victims,
                    child marriage, and forced pregnancies among adolescents.</p>
                <a href="https://webtv.un.org/en/asset/k1a/k1adxsy879" target="_blank" class="video-link">Watch on
                    site</a>
            </div>

            <!-- Video 2 -->
            <div class="video-card">
                <a href="https://ibdh.org.br/implementacao-das-recomendacoes-da-cedaw-ao-brasil-discutida-em-genebra/"
                    target="_blank" aria-label="Watch video: Video Title 1">
                    <div class="video-thumbnail-container">
                        <img src="{{ images }}/videos/2024_geneva_cedaw.jpg" alt="Video thumbnail for Video Title 1"
                            class="w-full">
                    </div>
                </a>
                <time datetime="2024-05-21" class="video-date">May 21, 2024</time>
                <h5 class="video-title">How to Use CEDAW's Recommendations in National Strategic Litigation</h5>
                <p class="video-description">Panel discussing the strategic use of CEDAW's recommendations for domestic
                    litigation in Brazil, emphasizing practical applications to advance women's rights.</p>
                <a href="https://ibdh.org.br/implementacao-das-recomendacoes-da-cedaw-ao-brasil-discutida-em-genebra/"
                    target="_blank" class="video-link">Watch on site</a>
            </div>

            <!-- Video 3 -->
            <div class="video-card">
                <a href="https://hdl.handle.net/1828/16534" target="_blank" aria-label="Watch video: Video Title 1">
                    <div class="video-thumbnail-container">
                        <img src="{{ images }}/videos/2024_beginning_of_life.jpg"
                            alt="Video thumbnail for Video Title 1" class="w-full">
                    </div>
                </a>
                <time datetime="2024-03-20" class="video-date">March 20, 2024</time>
                <h5 class="video-title">Debates on the Beginning of Life and Legal Regulations to Personhood</h5>
                <p class="video-description">Exploration of feminist perspectives on the legal and ethical debates
                    concerning the beginning of life and personhood, focusing on its implications for law and social
                    policies.</p>
                <a href="https://hdl.handle.net/1828/16534" target="_blank" class="video-link">Watch on site</a>
            </div>

            <!-- Video 4 -->
            <div class="video-card">
                <a href="https://hdl.handle.net/1828/16532" target="_blank" aria-label="Watch video: Video Title 1">
                    <div class="video-thumbnail-container">
                        <img src="{{ images }}/videos/2024_interdisciplinary.jpg"
                            alt="Video thumbnail for Video Title 1" class="w-full">
                    </div>
                </a>
                <time datetime="2024-02-26" class="video-date">February 26, 2024</time>
                <h5 class="video-title">Interdisciplinary Community Engaged Academic Research</h5>
                <p class="video-description">Presentation on applying interdisciplinary feminist research methodologies
                    to engage communities and address systemic issues, highlighting academic and practical applications.
                </p>
                <a href="https://hdl.handle.net/1828/16532" target="_blank" class="video-link">Watch on site</a>
            </div>

            <!-- Video 5 -->
            <div class="video-card">
                <a href="https://www.youtube.com/watch?v=YVh0jiG1iyQ" target="_blank"
                    aria-label="Watch video: Video Title 1">
                    <div class="video-thumbnail-container">
                        <img src="{{ images }}/videos/2021_alienacao_parental.jpg"
                            alt="Video thumbnail for Video Title 1" class="w-full">
                    </div>
                </a>
                <time datetime="2021-11-29" class="video-date">November 29–30, 2021</time>
                <h5 class="video-title">Parental Alienation: A Form of Violence Against Women</h5>
                <p class="video-description">Webinar addressing how the concept of parental alienation is used as a form
                    of institutional violence against women, involving multi-stakeholder support and discussions in
                    Portuguese and Spanish.</p>
                <a href="https://www.youtube.com/watch?v=YVh0jiG1iyQ" target="_blank" class="video-link">Watch on
                    site</a>
            </div>

            <!-- Video 6 -->
            <div class="video-card">
                <a href="" target="_blank" aria-label="Watch video: Video Title 1">
                    <div class="video-thumbnail-container">
                        <img src="https://picsum.photos/300/200" alt="Video thumbnail for Video Title 1" class="w-full">
                    </div>
                </a>
                <time datetime="2021-12-06" class="video-date">December 6, 2021</time>
                <h5 class="video-title">Research Launch on Violence Against Girls and Adolescents</h5>
                <p class="video-description">Research launch examining the link between sexual violence and the death of
                    girls and adolescents in Latin America and the Caribbean between 2010-2019, alongside best practices
                    for addressing violence in this demographic.</p>
                <a href="" target="_blank" class="video-link">Watch on site</a>
            </div>

            <!-- Video 7 -->
            <div class="video-card">
                <a href="https://iptv.usp.br/portal/video.action?idItem=12539" target="_blank"
                    aria-label="Watch video: Video Title 1">
                    <div class="video-thumbnail-container">
                        <img src="{{ images }}/videos/2014_gender_human.jpg" alt="Video thumbnail for Video Title 1"
                            class="w-full">
                    </div>
                </a>
                <time datetime="2012-10-02" class="video-date">October 2, 2012</time>
                <h5 class="video-title">Gender and Human Rights</h5>
                <p class="video-description">Seminar on gender equality and its intersection with human rights,
                    discussing how gender analysis can inform policies and societal development frameworks.</p>
                <a href="https://iptv.usp.br/portal/video.action?idItem=12539" target="_blank" class="video-link">Watch
                    on site</a>
            </div>

            <!-- Video 8 -->
            <div class="video-card">
                <a href="http://www.iea.usp.br/midiateca/video/videos-2012/genero-e-direitos-humanos" target="_blank"
                    aria-label="Watch video: Video Title 1">
                    <div class="video-thumbnail-container">
                        <img src="{{ images }}/videos/2014_gender_human.jpg" alt="Video thumbnail for Video Title 1"
                            class="w-full">
                    </div>
                </a>
                <time datetime="2012-02-10" class="video-date">February 10, 2012</time>
                <h5 class="video-title">Gender Discussions Impact in Human Rights Concept</h5>
                <p class="video-description">Presentation analyzing how gender discussions have influenced the
                    conceptualization of human rights, with a focus on historical and contemporary developments in the
                    field.</p>
                <a href="http://www.iea.usp.br/midiateca/video/videos-2012/genero-e-direitos-humanos" target="_blank"
                    class="video-link">Watch on site</a>
            </div>

            <!-- Video 9 -->
            <div class="video-card">
                <a href="https://www12.senado.leg.br/tv/plenario-e-comissoes/comissao-de-direitos-humanos-e-legislacao-participativa/2013/08/a-publicidade-que-dialoga-com-a-crianca-e-abusiva-diz-tamara-amoroso-goncalves-min.-justica"
                    target="_blank" aria-label="Watch video: Video Title 1">
                    <div class="video-thumbnail-container">
                        <img src="{{ images }}/videos/2014_publicidade_crianca.jpg"
                            alt="Video thumbnail for Video Title 1" class="w-full">
                    </div>
                </a>
                <time datetime="2013-08-29" class="video-date">August 29, 2013</time>
                <h5 class="video-title">Public Hearing on Advertising to Children</h5>
                <p class="video-description">Public hearing at the Brazilian National Congress addressing the impact of
                    child-targeted advertising, highlighting its manipulative and abusive practices, and advocating for
                    regulatory measures.</p>
                <a href="https://www12.senado.leg.br/tv/plenario-e-comissoes/comissao-de-direitos-humanos-e-legislacao-participativa/2013/08/a-publicidade-que-dialoga-com-a-crianca-e-abusiva-diz-tamara-amoroso-goncalves-min.-justica"
                    target="_blank" class="video-link">Watch on site</a>
            </div>

        </div>
    </div>
</section>

<section id="services" class="contain-margins-y bg-slate-200">
    <div class="contain-narrow section-margins-narrow">
        <h2>What I offer</h2>
        <ul class="list-none ">
            <li>
                <h3>Courses</h3>
                <ul>
                    <li>Human Rights Systems: Global and regional systems, their functioning, advocacy
                        opportunities</li>
                    <li>
                        Gender and International Human Rights: An Overview of the Most Relevant
                        Human Rights Instruments that protect women and gender diverse individuals's
                        rights
                    </li>
                    <li>Gender-based violence: concepts, legal standards, public policies</li>
                    <li>Feminism activism and international advocacy</li>
                </ul>
                <p>
                    ** Courses can vary in length and depth, depending on your needs. They can also
                    be tailored to specific audiences such as academics, government, and the general
                    public..
                </p>
            </li>
            <li>
                <h3>Mentorship</h3>
                <p>I can support you in applying for graduate studies and preparing academic
                    proposals.</p>
            </li>
            <li>
                <h3>Advocacy Work</h3>
                <p>Elaboration of shadow reports to UN treaty-bodies, and in-person advocacy, to
                    ensure successful results</p>
            </li>
        </ul>
    </div>
</section>

<section id="contact-me" class="contain-margins-y">
    <div class="contain-narrow xl:contain-medium section-margins-narrow xl:section-margins-medium">
        <h2>Connect with me</h2>
        <p>Let's work together and transform ideas into action. You can <a
                href="mailto:tamara@tamaragonsalves.com">reach me
                via email</a>, or interact via the social links below.</p>

        <h4>Social Media</h4>

        <ul>
            <li><a href="https://www.instagram.com/tamaramoroso" target="_blank" rel="noopener noreferrer">Instagram</a>
            </li>
            <li><a href="https://www.linkedin.com/in/tamara-amoroso-gonsalves-941527229/" target="_blank"
                    rel="noopener noreferrer">LinkedIn</a></li>
        </ul>
        <li><a href="https://www.linkedin.com/in/tamara-amoroso-gonsalves-941527229/" target="_blank"
                rel="noopener noreferrer">LinkedIn</a></li>
        </ul>
    </div>
</section>