---
title: Tamara Amoroso Gonsalves, Human Rights Expert
layout: "base.njk"
---
<section id="home" class="hero bg-gradient-yellow flex items-center w-full h-80vh min-h-[50rem] bg-mustard-50]">
    <div class="w-full contain-wide section-margins-medium text-center">
        <h3 class="text-indigo-900">Human Rights Expert</h3>
        <h1 class="text-indigo-900">Tamara Amoroso<br> Gonsalves</h1>
        <p class=" bigger max-sm:hyphens-auto md:w-4/6 mx-auto">For twenty years, I've dedicated my
            career
            to human rights law and advocacy,
            specializing in
            women's rights
            and gender justice. <br class="sm:hidden">My work bridges academic research with practical impact,
            demonstrated through extensive
            publications and leadership roles across governmental and non-governmental sectors.</p>
    </div>
</section>

<section id="about-me" class="about-me w-full contain-margins-y bg-white">

    <div
        class="contain-narrow md:contain-medium section-margins-narrow md:section-margins-medium grid sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-[2fr_1fr] gap-8 lg:gap-12 items-start">
        <div class="w-full mx-auto sm:-mt-40 max-sm:row-start-2 grid md:grid-cols-2 gap-4">
            <a data-fslightbox="about-pics" href="{{ images }}/foto_01.jpg" class="col-span-2"><img
                    src="{{ images }}/foto_01.jpg"
                    alt="Three women speaking (Tamara in the middle) and taking notes at a conference panel, with a camera recording in the foreground."
                    class="rounded-md drop-shadow-md hover-shift-sm"></a>
            <a data-fslightbox="about-pics" href="{{ images }}/foto_02.jpg" class="col-span-2"><img
                    src="{{ images }}/foto_02.jpg"
                    alt="Tamara Gonsalves standing and smiling in a large assembly hall (UN) with nameplates and a decorative ceiling."
                    class="rounded-md drop-shadow-md hover-shift-sm"></a>
            <a data-fslightbox="about-pics" href="{{ images }}/foto_03.jpg" class="row-span-2"><img
                    src="{{ images }}/foto_03.jpg"
                    alt="Tamara speaking in a studio setup with cameras and a world map on the wall behind her."
                    class="rounded-md drop-shadow-md hover-shift-sm"></a>
            <a data-fslightbox="about-pics" href="{{ images }}/foto_04.jpg"><img src="{{ images }}/foto_04.jpg"
                    alt="A group of women posing together in a well-lit room with plants."
                    class="rounded-md drop-shadow-md hover-shift-sm"></a>
            <a data-fslightbox="about-pics" href="{{ images }}/foto_05.jpg"><img src="{{ images }}/foto_05.jpg"
                    alt="Tamara Gonsalves smiling while signing a book at a table with flowers and books."
                    class="rounded-md drop-shadow-md hover-shift-sm"></a>
        </div>
        <div class="ml-auto lg:w-5/6 max-sm:row-start-1">
            <h2>About Me</h2>
            <p>My educational background in law, with a focus on human rights, and my experience in non-governmental,
                governmental, and academic roles have enabled me to excel in advocacy and stakeholder negotiation. As a
                spokesperson for various organizations, I have effectively engaged with diverse audiences, ranging from
                experts in international human rights bodies to grassroots communities, academics, and public servants.
                I have delivered talks and represented institutions on more than 90 occasions, both locally, regionally,
                and internationally, on topics spanning children's rights, women's rights (particularly gender-based
                violence and sexual and reproductive rights), and consumer rights.</p>
        </div>
    </div>
</section>

<section id="background" class="bg-white contain-margins-y">
    <div class="contain-medium section-margins-medium sm:grid lg:grid-cols-2 sm:gap-x-8">
        <div>
            <h1 class="max-lg:text-size-h2 max-lg:mb-10">Academic & Professional<wbr> Background</h1>
        </div>

        <div class="sm:max-w-[560px] md:max-w-screen-sm lg:max-w-screen-md mx-auto">
            <p>I hold a bachelor's degree in Law, a master's in Human Rights, a PhD in Law and Society, and a Graduate
                Certificate in Teaching and Learning in Higher Education. I bring extensive experience in human rights
                at
                national, regional, and international levels, with skills in policy analysis, advocacy on human rights
                issues, and delivering lectures on complex topics to diverse audiences, from policymakers and academics
                to
                grassroots organizations, ensuring complex issues are communicated effectively to drive impactful
                outcomes.
                Having lived and worked in various countries and being fluent in 4 languages (Portuguese, English,
                Spanish, and French), I am highly attuned to and respectful of
                socio-cultural diversities.
            </p>
            <p>My career spans academia, non-profits, and government, including serving in Brazil's Ministry of Justice.
                Over the past 20 years, I have worked in Brazilian, Latin American, and Canadian contexts as a lawyer,
                gender and human rights expert, lecturer, public servant, and policy analyst. My expertise covers
                gender-based violence, sexual and reproductive rights, health law, ultra-processed food advertising
                regulation, consumer law, children's rights, and international human rights law. For further details on
                my
                academic and professional background, please refer to my CV.</p>
            <a href="/assets/files/Tamara_Amoroso_Gonsalves_CV_11.12.2024_pub_last.pdf"
                class="icon-before icon-file-pdf icon-space-sm">Download Complete CV (PDF)</a>
        </div>
    </div>
</section>

<section id="articles" class="contain-margins-y bg-soap-50 ">
    <div class="contain-wide section-margins-medium">
        <h1>Books and publications</h1>
        <div class="sm:max-w-[560px] md:max-w-screen-sm lg:max-w-screen-md mx-auto">
            <h2>Publications</h2>

            <p>I am dedicated to producing high-quality, community-engaged research and scholarship that addresses
                pressing social issues. Over the past 20 years, I have developed interdisciplinary, transsystemic, and
                socio-legal research, resulting in 2 published books, 40 book chapters, 11 journal articles, 10 research
                and advocacy reports, and 36 opinion pieces. My publications span a broad range of topics, including
                children's fundamental rights, women's human rights—particularly gender-based violence and sexual and
                reproductive rights—and consumer rights, with a specific focus on product recalls, advertising
                regulations, and the regulation of ultra-processed foods.</p>

            <ul class="bullet">
                <li><a href="/assets/files/Tamara_Amoroso_Gonsalves_CV_11.12.2024_pub_last.pdf"
                        class="icon-before icon-file-pdf icon-space-sm">Download CV (PDF) for full list of
                        publications</a></li>
                <li><a href="https://orcid.org/0000-0002-2500-8477" target="_blank"
                        class="icon-after icon-external-link icon-space-sm">My ORCID registry</a></li>
            </ul>

            <h2>Books</h2>
            <div class="book-grid">
                <article class="book-item">
                    <a data-fslightbox="books" href="{{ images }}/livro_direitos_humanos_mulheres.jpg"
                        class="hover-shift-sm"><img src="{{ images }}/livro_direitos_humanos_mulheres.jpg"
                            alt="Cover of the book titled 'Direitos Humanos das Mulheres e a Comissão Interamericana de Direitos Humanos'"
                            srcset="" class="book-image"></a>

                    <div class="book-info">
                        <div>
                            <h5 class="mb-0 book-title"><a
                                    href="https://www.amazon.com/Direitos-Humanos-Mulheres-Tamara-Amoroso/dp/8502187805/ref=sr_1_1?crid=36W7YBK85BINN&dib=eyJ2IjoiMSJ9.KwVNe-F1ZUfmrHYW8LSCw-w_CZPuVGIqMQkmkEH6Nbc51LhbYGokNNxgGei35xefXgO_d0dgL-H7LwuOxd0SsA.zTgcc4F9TJUAS7BOAemKVvgbn-2blSP2TE97WhxRrr0&dib_tag=se&keywords=Tamara+Amoroso+Gon%C3%A7alves&qid=1734551323&sprefix=tamara+amoroso+gon%C3%A7alves%2Caps%2C68&sr=8-1">
                                    Direitos humanos das mulheres e a comissão Interamericana de
                                    direitos
                                    humanos
                                </a>
                            </h5>
                            <p class="mb-0"><em>Tamara Amoroso Gonçalves</em></p>
                        </div>
                        <p class="book-description">My book Direitos Humanos das Mulheres e a Comissão Interamericana de
                            Direitos Humanos,
                            (Saraiva,
                            2013) analyzes quantitative and qualitative data related to cases of women’s human rights
                            violations presented to the Inter-American Commission of Human Rights, identifying the
                            regional
                            agenda that feminist organizations have pushed through gender-sensitive strategic
                            litigation.
                            This work combined statistical analysis and case analysis, in pioneering jurimetrics work
                            done
                            in Brazil.</p>
                        <div>Buy This Book<br> <a
                                href="https://www.amazon.com/Direitos-Humanos-Mulheres-Tamara-Amoroso/dp/8502187805/ref=sr_1_1?crid=36W7YBK85BINN&dib=eyJ2IjoiMSJ9.KwVNe-F1ZUfmrHYW8LSCw-w_CZPuVGIqMQkmkEH6Nbc51LhbYGokNNxgGei35xefXgO_d0dgL-H7LwuOxd0SsA.zTgcc4F9TJUAS7BOAemKVvgbn-2blSP2TE97WhxRrr0&dib_tag=se&keywords=Tamara+Amoroso+Gon%C3%A7alves&qid=1734551323&sprefix=tamara+amoroso+gon%C3%A7alves%2Caps%2C68&sr=8-1"
                                target="_blank">Amazon (USA)</a> / <a
                                href="https://www.travessa.com.br/direitos-humanos-das-mulheres-e-a-comissao-interamericana-de-direitos-humanos/artigo/30dee484-bdf8-42b2-a94d-32474fa288c3?srsltid=AfmBOordklfKb68qtIrO5jAXgujXynywUFEDtQ8M38iLFgvj-L7h95YM"
                                target="_blank" rel="noopener noreferrer">Travessa (Brazil)</a></div>
                    </div>
                </article>
                <article class="book-item">
                    <a data-fslightbox="books" href="{{ images }}/livro_aborto_e_religiao.png"
                        class="hover-shift-sm"><img src="{{ images }}/livro_aborto_e_religiao.png"
                            alt="Cover of the book titled 'Aborto e Religião nos Tribunais Brasileiros'" srcset=""
                            class="book-image"></a>
                    <div class="book-info">
                        <div>
                            <h5 class="mb-0 book-title"><a
                                    href="/assets/files/Aborto_religiao_nos_tribunais_brasileiros.pdf">Aborto e Religião
                                    nos Tribunais
                                    Brasileiros</a></h5>
                            <p class="mb-0"><em>Tamara Amoroso Gonçalves (coord.), Thais de Souza Lapa</em></p>
                        </div>
                        <p class="book-description">In this MacArthur-Foundation-funded book, Aborto e Religião nos
                            Tribunais Brasileiros (2008),
                            I
                            discuss the influence of religious arguments in abortion cases decided by Brazilian
                            courts—in a
                            country where abortion is illegal and is the 5th cause of maternal death. This research was
                            grounded on feminist scholarship, sociological analysis of Catholic religion, and
                            statistical
                            data on court decisions. This was a pioneering work combining socio-legal feminist research
                            and
                            jurimetrics, when the latter was rarely used in Brazil. Available in Portuguese only. </p>
                        <a href="/assets/files/Aborto_religiao_nos_tribunais_brasileiros.pdf"
                            class="icon-before icon-file-pdf icon-space-sm">Download Full Text
                            (PDF)</a>
                    </div>
                </article>
            </div>
        </div>

        <div class="sm:max-w-[560px] md:max-w-screen-sm lg:max-w-screen-md mx-auto">
            <h2>Other Projects</h2>

            <article class="book-item">
                <a data-fslightbox="books" href="{{ images }}/podcast_gender_305.jpg" class="hover-shift-sm"><img
                        src="{{ images }}/podcast_gender_305.jpg" alt="Logo of the Gender 305 Podcast" srcset=""
                        class="book-image"></a>
                <div class="book-info">
                    <div>
                        <h5 class="mb-0 book-title">Gender 305 Podcast</h5>
                        <p><em>Podcast series on Gender and Human Rights. </em></p>
                    </div>
                    <p class="book-description">At UVIC's Gender Studies Department, I taught Gender and International
                        Human Rights in fall 2022
                        and 2023, where students created podcast episodes as their final assignments with CFUV's
                        technical support. These episodes, now being published and aired through CFUV, explore diverse
                        topics including abortion rights, LGBTQ2+ and non-binary rights, gender-based discrimination in
                        AI, and violence against Indigenous women in Canada. We invite you to listen and engage in these
                        important conversations.</p>
                    <a href="https://open.spotify.com/show/0wXLKKJbgFwjnHdevQYnYW?si=400a91e1597a4f40" target="_blank"
                        class="icon-after icon-external-link icon-space-sm">Listen and Subscribe
                        (Spotify)</a>
                </div>
            </article>
        </div>
</section>

<section id="speaking" class="contain-margins-y bg-white">
    <div class="contain-medium section-margins-medium">
        <h1>Public Speaking</h1>
        <div class="sm:max-w-[560px] md:max-w-screen-sm lg:max-w-screen-md mx-auto mb-12">
            <p>My educational background in law, with a focus on human rights, and my experience in
                non-governmental, governmental, and academic roles have enabled me to excel in advocacy and stakeholder
                negotiation. As a spokesperson for various organizations, I have effectively engaged with diverse
                audiences, ranging from experts in international human rights bodies to grassroots communities,
                academics, and public servants. I have delivered talks and represented institutions on more than 90
                occasions, both locally, regionally, and internationally, on topics spanning children's rights, women's
                rights (particularly gender-based violence and sexual and reproductive rights), and consumer rights.</p>
            <p><a href="#contact-me" class="button button-lg icon-before icon-comment-smile icon-space-sm">Contact me
                    for public speaking requests</a></p>
        </div>
    </div>

    <div class="w-full">
        <div class="video-grid-container">
            <div class="video-grid">
                <!-- Video 1 -->
                <div class="video-card">
                    <a href="https://webtv.un.org/en/asset/k1a/k1adxsy879" target="_blank"
                        aria-label="Watch video: Video Title 1">
                        <div class="video-thumbnail-container">
                            <img src="{{ images }}/videos/2024_cedaw_1.jpg" alt="Video thumbnail for Video Title 1">
                        </div>
                    </a>
                    <time datetime="2024-05-20" class="video-date">May 20, 2024</time>
                    <h5 class="video-title">CLADEM/Brazil representation at Brazil's review before the CEDAW Committee
                    </h5>
                    <p class="video-description">Speech delivered at the Opening Session with Brazilian Non-profit
                        associations, addressing various forms of institutional violence such as obstetric violence,
                        parental alienation in family court, inaccessible abortion services for sexual violence victims,
                        child marriage, and forced pregnancies among adolescents.</p>
                    <a href="https://webtv.un.org/en/asset/k1a/k1adxsy879" target="_blank"
                        class="video-link icon-after icon-external-link icon-space-sm">Watch on
                        site</a>
                </div>
                <!-- Video 2 -->
                <div class="video-card">
                    <a href="https://ibdh.org.br/implementacao-das-recomendacoes-da-cedaw-ao-brasil-discutida-em-genebra/"
                        target="_blank" aria-label="Watch video: Video Title 1">
                        <div class="video-thumbnail-container">
                            <img src="{{ images }}/videos/2024_geneva_cedaw.jpg"
                                alt="Video thumbnail for Video Title 1">
                        </div>
                    </a>
                    <time datetime="2024-05-21" class="video-date">May 21, 2024</time>
                    <h5 class="video-title">How to Use CEDAW's Recommendations in National Strategic Litigation</h5>
                    <p class="video-description">Panel discussing the strategic use of CEDAW's recommendations for
                        domestic
                        litigation in Brazil, emphasizing practical applications to advance women's rights.</p>
                    <a href="https://ibdh.org.br/implementacao-das-recomendacoes-da-cedaw-ao-brasil-discutida-em-genebra/"
                        target="_blank" class="video-link icon-after icon-external-link icon-space-sm">Watch on site</a>
                </div>
                <!-- Video 3 -->
                <div class="video-card">
                    <a href="https://hdl.handle.net/1828/16534" target="_blank" aria-label="Watch video: Video Title 1">
                        <div class="video-thumbnail-container">
                            <img src="{{ images }}/videos/2024_beginning_of_life.jpg"
                                alt="Video thumbnail for Video Title 1">
                        </div>
                    </a>
                    <time datetime="2024-03-20" class="video-date">March 20, 2024</time>
                    <h5 class="video-title">Debates on the Beginning of Life and Legal Regulations to Personhood</h5>
                    <p class="video-description">Exploration of feminist perspectives on the legal and ethical debates
                        concerning the beginning of life and personhood, focusing on its implications for law and social
                        policies.</p>
                    <a href="https://hdl.handle.net/1828/16534" target="_blank"
                        class="video-link icon-after icon-external-link icon-space-sm">Watch on site</a>
                </div>
                <!-- Video 4 -->
                <div class="video-card">
                    <a href="https://hdl.handle.net/1828/16532" target="_blank" aria-label="Watch video: Video Title 1">
                        <div class="video-thumbnail-container">
                            <img src="{{ images }}/videos/2024_interdisciplinary.jpg"
                                alt="Video thumbnail for Video Title 1">
                        </div>
                    </a>
                    <time datetime="2024-02-26" class="video-date">February 26, 2024</time>
                    <h5 class="video-title">Interdisciplinary Community Engaged Academic Research</h5>
                    <p class="video-description">Presentation on applying interdisciplinary feminist research
                        methodologies
                        to engage communities and address systemic issues, highlighting academic and practical
                        applications.
                    </p>
                    <a href="https://hdl.handle.net/1828/16532" target="_blank"
                        class="video-link icon-after icon-external-link icon-space-sm">Watch on site</a>
                </div>
                <!-- Video 5 -->
                <div class="video-card">
                    <a href="https://www.youtube.com/watch?v=YVh0jiG1iyQ" target="_blank"
                        aria-label="Watch video: Video Title 1">
                        <div class="video-thumbnail-container">
                            <img src="{{ images }}/videos/2021_alienacao_parental.jpg"
                                alt="Video thumbnail for Video Title 1">
                        </div>
                    </a>
                    <time datetime="2021-11-29" class="video-date">November 29–30, 2021</time>
                    <h5 class="video-title">Parental Alienation: A Form of Violence Against Women</h5>
                    <p class="video-description">Webinar addressing how the concept of parental alienation is used as a
                        form
                        of institutional violence against women, involving multi-stakeholder support and discussions in
                        Portuguese and Spanish.</p>
                    <a href="https://www.youtube.com/watch?v=YVh0jiG1iyQ" target="_blank"
                        class="video-link icon-after icon-external-link icon-space-sm">Watch on
                        site</a>
                </div>
                <!-- Video 6 -->
                <div class="video-card">
                    <a href="" target="_blank" aria-label="Watch video: Video Title 1">
                        <div class="video-thumbnail-container">
                            <img src="https://picsum.photos/800/600" alt="Video thumbnail for Video Title 1">
                        </div>
                    </a>
                    <time datetime="2021-12-06" class="video-date">December 6, 2021</time>
                    <h5 class="video-title">Research Launch on Violence Against Girls and Adolescents</h5>
                    <p class="video-description">Research launch examining the link between sexual violence and the
                        death of
                        girls and adolescents in Latin America and the Caribbean between 2010-2019, alongside best
                        practices
                        for addressing violence in this demographic.</p>
                    <a href="" target="_blank" class="video-link icon-after icon-external-link icon-space-sm">Watch on
                        site</a>
                </div>
                <!-- Video 7 -->
                <div class="video-card">
                    <a href="https://iptv.usp.br/portal/video.action?idItem=12539" target="_blank"
                        aria-label="Watch video: Video Title 1">
                        <div class="video-thumbnail-container">
                            <img src="{{ images }}/videos/2014_gender_human.jpg"
                                alt="Video thumbnail for Video Title 1">
                        </div>
                    </a>
                    <time datetime="2012-10-02" class="video-date">October 2, 2012</time>
                    <h5 class="video-title">Gender and Human Rights</h5>
                    <p class="video-description">Seminar on gender equality and its intersection with human rights,
                        discussing how gender analysis can inform policies and societal development frameworks.</p>
                    <a href="https://iptv.usp.br/portal/video.action?idItem=12539" target="_blank"
                        class="video-link icon-after icon-external-link icon-space-sm">Watch
                        on site</a>
                </div>
                <!-- Video 8 -->
                <div class="video-card">
                    <a href="http://www.iea.usp.br/midiateca/video/videos-2012/genero-e-direitos-humanos"
                        target="_blank" aria-label="Watch video: Video Title 1">
                        <div class="video-thumbnail-container">
                            <img src="{{ images }}/videos/2014_gender_human.jpg"
                                alt="Video thumbnail for Video Title 1">
                        </div>
                    </a>
                    <time datetime="2012-02-10" class="video-date">February 10, 2012</time>
                    <h5 class="video-title">Gender Discussions Impact in Human Rights Concept</h5>
                    <p class="video-description">Presentation analyzing how gender discussions have influenced the
                        conceptualization of human rights, with a focus on historical and contemporary developments in
                        the
                        field.</p>
                    <a href="http://www.iea.usp.br/midiateca/video/videos-2012/genero-e-direitos-humanos"
                        target="_blank" class="video-link icon-after icon-external-link icon-space-sm">Watch on site</a>
                </div>
                <!-- Video 9 -->
                <div class="video-card">
                    <a href="https://www12.senado.leg.br/tv/plenario-e-comissoes/comissao-de-direitos-humanos-e-legislacao-participativa/2013/08/a-publicidade-que-dialoga-com-a-crianca-e-abusiva-diz-tamara-amoroso-goncalves-min.-justica"
                        target="_blank" aria-label="Watch video: Video Title 1">
                        <div class="video-thumbnail-container">
                            <img src="{{ images }}/videos/2014_publicidade_crianca.jpg"
                                alt="Video thumbnail for Video Title 1">
                        </div>
                    </a>
                    <time datetime="2013-08-29" class="video-date">August 29, 2013</time>
                    <h5 class="video-title">Public Hearing on Advertising to Children</h5>
                    <p class="video-description">Public hearing at the Brazilian National Congress addressing the impact
                        of
                        child-targeted advertising, highlighting its manipulative and abusive practices, and advocating
                        for
                        regulatory measures.</p>
                    <a href="https://www12.senado.leg.br/tv/plenario-e-comissoes/comissao-de-direitos-humanos-e-legislacao-participativa/2013/08/a-publicidade-que-dialoga-com-a-crianca-e-abusiva-diz-tamara-amoroso-goncalves-min.-justica"
                        target="_blank" class="video-link icon-after icon-external-link icon-space-sm">Watch on site</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="services contain-margins-y bg-violet-50">
    <div class="contain-medium section-margins-medium">
        <h1>What I <br class="sm:hidden"> can offer</h1>
        <div class="sm:grid sm:grid-cols-2 gap-x-10 lg:gap-x-16 lg:max-w-screen-lg mx-auto mb-12 list-none">
            <div>
                <div class="services-item pb-4">
                    <h3>Courses</h3>
                    <ul class="bullet">
                        <li><strong>Human Rights Systems:</strong> covers international human rights systems (global and
                            regional ones),
                            their functioning, key documents, and advocacy opportunities.</li>
                        <li><strong>Gender and International Human Rights:</strong> offers an overview of the most
                            relevant
                            Human Rights
                            Instruments that protect women and gender-diverse individual's rights.</li>
                        <li><strong>Gender-based violence:</strong> discusses how the concept of gender-based violence
                            has
                            evolved, covering
                            key concepts, legal standards, and public policies.</li>
                        <li><strong>Transnational feminism and international advocacy:</strong> explores feminist
                            transnational activism and
                            its advancements and challenges.</li>
                        <li><strong>Feminist Legal Theories:</strong> presents and discusses the main feminist threads
                            and
                            their socio-legal
                            implications for advancing gender justice.</li>
                    </ul>
                    <p class="text-small">
                        Courses can vary in length and depth, depending on your needs. They can also
                        be tailored to specific audiences such as academics, government, and the general
                        public..
                    </p>
                </div>
                <div class="services-item pb-4">
                    <h3>Consultancy</h3>
                    <p>My consultancy work focuses on policy analysis, advocacy, research, and capacity-building in
                        human
                        rights, with a particular emphasis on gender-based violence, sexual and reproductive rights,
                        health
                        law, and children's rights. Leveraging my academic foundation—a bachelor's in Law, a master's in
                        Human Rights, a PhD in Law and Society, and a graduate certificate in teaching—I provide
                        insightful,
                        evidence-based solutions tailored to diverse contexts. Grounded on a deep commitment to
                        advancing
                        equity and justice, I can:</p>
                    <ul class="bullet">
                        <li>Develop strategies for advocacy;</li>
                        <li>Conduct training workshops;</li>
                        <li>Craft comprehensive legal and policy analyses.</li>
                    </ul>
                </div>
            </div>

            <div>
                <div class="services-item pb-4">
                    <h3>Mentorship</h3>
                    <p>I can support you with the following:</p>
                    <ul class="bullet">
                        <li>Applying for graduate studies;</li>
                        <li>Preparing academic proposals;</li>
                        <li>Developing academic work. </li>
                    </ul>
                </div>
                <div class="services-item pb-4">
                    <h3>Advocacy Work</h3>
                    <ul class="bullet">
                        <li>Elaboration of shadow reports to United Nations treaty bodies, and MESECVI (follow-up
                            Mechanism
                            of the Belém do Pará Convention - Organization of American Estates); </li>
                        <li>In-person advocacy - for more successful results;</li>
                        <li>Institutional representation in public hearings;</li>
                        <li>Articulation, preparation, and submission of Amicus Curiae both at the national and
                            international levels;</li>
                        <li>Workshops for non-profit organizations and corporations;</li>
                        <li>Moderation of academic and institutional events.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact-me" class="contain-margins-y bg-white">
    <div class="contain-medium section-margins-medium">
        <h1>Contact me</h1>
        <div class="sm:max-w-[560px] md:max-w-screen-sm lg:max-w-screen-md mx-auto mb-12">
            <p>Let's talk! For inquiries or collaboration opportunities, reach out via email at [email] or connect with
                me
                on LinkedIn. I aim to respond within 48 hours.</p>

            <p><a id="email-link" href="#"
                    class="max-sm:block button button-lg md:button-xl mb-8 icon-before icon-comment-smile icon-space-sm">Send
                    me an email</a>
            </p>

            <h4 class="max-sm:text-center">Reach Me on Social Media</h4>
            <ul class="flex flex-row max-sm:justify-center items-start gap-8 max-sm:mt-8">
                <li><a href="https://www.instagram.com/tamaramoroso" target="_blank" rel="noopener noreferrer"
                        title="Threads"><img src="{{ images }}/social-instagram.svg" class="w-12 hover-shift-sm"
                            alt="Instagram"></a>
                </li>
                <li><a href="https://www.linkedin.com/in/tamara-amoroso-gonsalves-941527229/" target="_blank"
                        rel="noopener noreferrer" title="LinkedIn"><img src="{{ images }}/social-linkedin.svg"
                            class="w-12 hover-shift-sm" alt="LinkedIn"></a>
                </li>
            </ul>
        </div>
    </div>
</section>